body {
  max-width: 800px;
  position: relative;
  margin: 0 auto !important;
  overflow-x: hidden !important;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
  width: auto;
}
