html,
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  background-color: rgb(237, 237, 237);
  position: relative;
  overflow-y: auto;
}
body {
  background-color: #fff;
  position: relative;
  height: 100%;
  max-width: 800px;
  margin: 0 auto !important;
  min-height: 100vh;
  /* overflow: hidden; */
}

.swiper-wrapper {
  transition-timing-function: linear;
}

#refund-slide,
#event-slide {
  width: auto !important;
}
