html,
body {
}

html {
  background-color: rgb(237, 237, 237);
}
body {
  background-color: #fff;
  position: relative;
  overflow-x: hidden;
  height: 100%;
  max-width: 800px;
  margin: 0 auto !important;
  min-height: 100vh;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

/* .swiper-slide {
  width: auto;
} */
